<!DOCTYPE html>
<html>

<head>

    <title>BMI Calculator</title>

</head>

<body>

<h1>BMI Calculator</h1>

<form method="POST">

    <input
        type="number"
        step="any"
        name="weight"
        placeholder="Enter Weight"
        required
    >

    <select name="weight_unit">

        <option value="kg">KG</option>

        <option value="lbs">LBS</option>

    </select>

    <br><br>

    <input
        type="number"
        step="any"
        name="height"
        placeholder="Enter Height"
        required
    >

    <select name="height_unit">

        <option value="m">Meters</option>

        <option value="cm">CM</option>

        <option value="feet">Feet</option>

    </select>

    <br><br>

    <button type="submit">

        Calculate BMI

    </button>

</form>

<br>

<h2>{{result}}</h2>

</body>
</html>